src/flows/Manager_to_Customer_based_on_Substitution-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>apexSelection</name>
            <value>
                <stringValue>ACCL__CreateEditSubstitutionController</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>ManageOnActivate</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>ACCL__CreateEditSubstitutionController</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>opType</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <name>opType</name>
            <value>
                <stringValue>Create</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>subs</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue>ACCL__Substitution__c</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <name>subs</name>
            <value>
                <elementReference>myVariable_current</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>apexSelection</name>
            <value>
                <stringValue>ACCL__CreateEditSubstitutionController</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>ManageOnDeactivate</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <actionName>ACCL__CreateEditSubstitutionController</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>opType</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <name>opType</name>
            <value>
                <stringValue>Delete</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>subs</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue>ACCL__Substitution__c</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <name>subs</name>
            <value>
                <elementReference>myVariable_current</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>apexSelection</name>
            <value>
                <stringValue>ACCL__CreateEditSubstitutionController</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_5_A1</name>
        <label>ManageOnUpdate</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <actionName>ACCL__CreateEditSubstitutionController</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>opType</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <name>opType</name>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>subs</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue>ACCL__Substitution__c</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <name>subs</name>
            <value>
                <elementReference>myVariable_current</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Create</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>Delete (Deactivate)</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>modifyTimeframeSubstitutionCustomer</label>
        </rules>
    </decisions>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>(ISNEW() || ISCHANGED([ACCL__Substitution__c].ACCL__Active__c))
&amp;&amp;
[ACCL__Substitution__c].ACCL__Active__c = true
&amp;&amp;
OR(
	AND(
		[ACCL__Substitution__c].RecordType.DeveloperName = &#39;Substitution_Customer&#39;,
		[ACCL__Substitution__c].ACCL__Substitution__c &lt;&gt; null,
		[ACCL__Substitution__c].ACCL__Substitution__c.ACCL__Active__c = true
	),
	[ACCL__Substitution__c].RecordType.DeveloperName = &#39;Substitution&#39;,
	[ACCL__Substitution__c].RecordType.DeveloperName = &#39;Substitution_Read_Only&#39;
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>(ISNEW() || ISCHANGED({!myVariable_current.ACCL__Active__c}))
&amp;&amp;
{!myVariable_current.ACCL__Active__c} = true
&amp;&amp;
OR(
	AND(
		{!myVariable_current.RecordType.DeveloperName} = &#39;Substitution_Customer&#39;,
		{!myVariable_current.ACCL__Substitution__c} &lt;&gt; null,
		{!myVariable_current.ACCL__Substitution__c.ACCL__Active__c} = true
	),
	{!myVariable_current.RecordType.DeveloperName} = &#39;Substitution&#39;,
	{!myVariable_current.RecordType.DeveloperName} = &#39;Substitution_Read_Only&#39;
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISCHANGED([ACCL__Substitution__c].ACCL__Active__c) &amp;&amp;
[ACCL__Substitution__c].ACCL__Active__c = false &amp;&amp;
OR(
	[ACCL__Substitution__c].RecordType.DeveloperName = &#39;Substitution&#39;,
	[ACCL__Substitution__c].RecordType.DeveloperName = &#39;Substitution_Read_Only&#39;,
	AND(
		[ACCL__Substitution__c].RecordType.DeveloperName = &#39;Substitution_Customer&#39;,
		[ACCL__Substitution__c].ACCL__Substitution__c &lt;&gt; null,
		[ACCL__Substitution__c].ACCL__Substitution__c.ACCL__Active__c = true
	)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!myVariable_current.ACCL__Active__c}) &amp;&amp;
{!myVariable_current.ACCL__Active__c} = false &amp;&amp;
OR(
	{!myVariable_current.RecordType.DeveloperName} = &#39;Substitution&#39;,
	{!myVariable_current.RecordType.DeveloperName} = &#39;Substitution_Read_Only&#39;,
	AND(
		{!myVariable_current.RecordType.DeveloperName} = &#39;Substitution_Customer&#39;,
		{!myVariable_current.ACCL__Substitution__c} &lt;&gt; null,
		{!myVariable_current.ACCL__Substitution__c.ACCL__Active__c} = true
	)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>(ISCHANGED([ACCL__Substitution__c].ACCL__Valid_From__c) || 
ISCHANGED([ACCL__Substitution__c].ACCL__Valid_Thru__c ) ) &amp;&amp;
[ACCL__Substitution__c].ACCL__Active__c = true &amp;&amp;
[ACCL__Substitution__c].ACCL__Substitution__c.ACCL__Active__c = true &amp;&amp;
[ACCL__Substitution__c].RecordType.Name = &#39;Substitution Customer&#39; &amp;&amp;
[ACCL__Substitution__c].ACCL__Substitution__c &lt;&gt; null 
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5</name>
        <dataType>Boolean</dataType>
        <expression>(ISCHANGED({!myVariable_current.ACCL__Valid_From__c}) || 
ISCHANGED({!myVariable_current.ACCL__Valid_Thru__c} ) ) &amp;&amp;
{!myVariable_current.ACCL__Active__c} = true &amp;&amp;
{!myVariable_current.ACCL__Substitution__c.ACCL__Active__c} = true &amp;&amp;
{!myVariable_current.RecordType.Name} = &#39;Substitution Customer&#39; &amp;&amp;
{!myVariable_current.ACCL__Substitution__c} &lt;&gt; null</expression>
    </formulas>
    <interviewLabel>Manager_to_Customer_based_on_Substitution-1_InterviewLabel</interviewLabel>
    <label>Manager to Customer based on Substitution</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>ACCL__Substitution__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ACCL__Substitution__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ACCL__Substitution__c</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
