src/flows/Update_Account.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Copy_1_of_create_sales_rap_value</name>
        <label>Copy 1 of create sales rap value</label>
        <locationX>402</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>Sales_Rep</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sales_Rep_calculation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_to_populate_sales_rep</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>create_sales_rap_value</name>
        <label>create sales rap value</label>
        <locationX>138</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>Sales_Rep</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SalesRepForFirstRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_to_populate_sales_rep</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This will set a null value if no active org is there</description>
        <name>Set_Null_Value</name>
        <label>Set Null Value</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>acctTerritory</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>teamName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateAccount_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>This will check if org unit is active.</description>
        <name>Check_for_Active_Org_Unit</name>
        <label>Check for Active Org Unit</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Set_Null_Value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Active_Org_Units</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ACCL__Valid_From__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Today</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ACCL__Valid_Thru__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Today</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetAccTeam</targetReference>
            </connector>
            <label>Active Org Units</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_if_it_s_the_first_record</name>
        <label>check if it&apos;s the first record</label>
        <locationX>270</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_create_sales_rap_value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>first_record</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Sales_Rep</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Sales_Rep</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_sales_rap_value</targetReference>
            </connector>
            <label>first record</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Sales_Rep_calculation</name>
        <dataType>String</dataType>
        <expression>{!Sales_Rep} + &apos;, &apos; + {!loop_to_populate_sales_rep.ACCL__User__r.FirstName} + &apos; &apos; + {!loop_to_populate_sales_rep.ACCL__User__r.LastName}</expression>
    </formulas>
    <formulas>
        <name>SalesRepForFirstRecord</name>
        <dataType>String</dataType>
        <expression>{!loop_to_populate_sales_rep.ACCL__User__r.FirstName} + &apos; &apos; + {!loop_to_populate_sales_rep.ACCL__User__r.LastName}</expression>
    </formulas>
    <interviewLabel>Update Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Account</label>
    <loops>
        <description>this loop will run through all org unit users record</description>
        <name>loop_to_populate_sales_rep</name>
        <label>loop to populate sales rep</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <collectionReference>Get_Org_Unit_Users</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>check_if_it_s_the_first_record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateAccount_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>get the org unit users</description>
        <name>Get_Org_Unit_Users</name>
        <label>Get Org Unit Users</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_to_populate_sales_rep</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ACCL__Org_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ACCL__Org_Unit__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>MDLZ_Main__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ACCL__Org_Unit_User__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ACCL__User__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Team</name>
        <label>Get Team</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Org_Unit_Users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accTeam</elementReference>
            </value>
        </filters>
        <object>ACCL__Org_Unit__c</object>
        <outputAssignments>
            <assignToReference>teamName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetAccTeam</name>
        <label>GetAccTeam</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Team</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ACCL__Child_Org_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ACCL__Org_Unit__c</elementReference>
            </value>
        </filters>
        <object>ACCL__Org_Unit_Hierarchy__c</object>
        <outputAssignments>
            <assignToReference>accTeam</assignToReference>
            <field>ACCL__Parent_Org_Unit__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>updateAccount_Records</name>
        <label>updateAccount Records</label>
        <locationX>182</locationX>
        <locationY>1463</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MDLZ_SAPBranchId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MDLZ_AccountTeam__c</field>
            <value>
                <elementReference>teamName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MDLZ_AccountTerritory__c</field>
            <value>
                <elementReference>acctTerritory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MDLZ_Sales_Rep__c</field>
            <value>
                <elementReference>Sales_Rep</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_Active_Org_Unit</targetReference>
        </connector>
        <object>ACCL__Account_Org_Unit__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.ACCL__Account__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>accTeam</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>acctTerritory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Record.ACCL__Org_Unit__r.Name</elementReference>
        </value>
    </variables>
    <variables>
        <name>Sales_Rep</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>teamName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Today</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
</Flow>
